
.circle {
  color: "#058324";
  width: 50px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

.container {
  border: 1px solid #000;
  margin: 0 auto;
  width: 75%;
  margin-top: 40px;

}

.btn {
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 178px;
}
